*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: "Tiro Bangla", serif;
}

.header{
    display: flex;
    align-items: center;
    background-color: #BFAE9F;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
}

.logo img{
    width: 255px;
    height: 123px;
    margin: 0px 0px 0px 20px;
}

nav {
    justify-content: left;
}

li {
    display: inline;
    list-style-type: none;
    color: black;
    margin: 0px 20px 0px 20px;
    font-size: 1.2rem;
}

/*Section-1*/

.introduction {
    display: flex;
    flex-direction: column; /* Si quieres que se apilen */
    align-items: center;    /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    text-align: center;
    min-width: 100vw;
}

h1{
    padding: 30px 0px 30px 0px ;
    font-size: 2.5rem;
    width: 140px;
    height: 35px;
}

.introduction img{
    margin-top: 30px;
    width: 255px;
    height: 123px;
}

.text-welcome{
    margin-top: 30px;
    font-size: 4rem;
    text-align: center;
    width: 600px;
    height: 150px;
}
