html{
    font-family: "Tiro Bangla", serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.encabezado{
    display: flex;
    align-items: center;
    background-color: #BFAE9F;
    justify-content: space-between;
}

.logo img{
    width: 255px;
    height: 123px;
    margin: 0px 0px 0px 20px;
}

nav {
    justify-content: left;
}

li {
    display: inline;
    list-style-type: none;
    color: black;
    margin: 0px 20px 0px 20px;
    font-size: 15px;
}